[submodule "discreta"]
	path = discreta
	url = https://github.com/claudialbzz/discreta.git
[submodule "Discreta"]
	path = Discreta
	url = https://github.com/claudialbzz/Discreta.git
[submodule "FIA/github"]
	path = FIA/github
	url = https://github.com/ICAI-iMAT-FIA/p2-search-agent-roomba-claudialbzz.git
[submodule "FIA/P1/E2-aspiradora/repo_clase"]
	path = FIA/P1/E2-aspiradora/repo_clase
	url = https://github.com/ICAI-iMAT-FIA/p2-search-agent-roomba-claudialbzz.git
[submodule "FUSO"]
	path = FUSO
	url = https://github.com/claudialbzz/FUSO.git
