[submodule "Discreta"]
    path = Discreta
    url = https://github.com/claudialbzz/Discreta.git
[submodule "FIA"]
	path = FIA
	url = https://github.com/claudialbzz/FIA.git
[submodule "FUSO"]
    path = FUSO
    url = https://github.com/claudialbzz/FUSO.git
[submodule "Adquisicion"]
	path = Adquisicion
	url = https://github.com/claudialbzz/Adquisicion.git
[submodule "Visualizacion-sub"]
	path = Visualizacion
	url = https://github.com/claudialbzz/Visualizacion.git
[submodule "EDO"]
	path = EDO
	url = https://github.com/claudialbzz/EDO.git
